#canvas {
    display: block;
    background-color: black;
}

body {
    overflow: hidden;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

.itemInButtonDisplay {
    margin: 10px;
}

#clearButton {
    position: absolute;
    display: flex;
    margin: 10px;
    bottom: 0;
    right: 0;
}

#costSpan {
    margin: 20px;
}

.gridbox {
    border: 2px;
    border-top: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
}

#achievements {
    overflow:hidden;
    overflow-y:scroll;
    max-height: 180px;
}

#upgrades {
    overflow:hidden;
    overflow-y:scroll;
    max-height: 360px;
}

#defenderDisplay {
    visibility: hidden;
}

#towerShopText {
    margin: 10px;
}